<!DOCTYPE html>
<html>
<title>Wikibooks mirror</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<body style="background-color:#E5E5E5">

<div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-hide-large" onclick="w3_close()">Close &times;</button>
    <a href="{{url_for('anotherLanguage', lang='en')}}"><img src="{{url_for('static', filename='img/logo.jpg')}}" width="200" height="160"></a>
    <a href="{{url_for('dataImport')}}" class="w3-bar-item w3-button">Import</a>
    <a href="{{url_for('dataExport')}}" class="w3-bar-item w3-button">Export</a>
</div>


<div class="w3-main" style="margin-left:auto">
    <div class="w3-teal" style="height: 40px">
        <a href="{{url_for('stats')}}" style="margin-right: 20px; float: right">Stats</a>
        <a href="{{url_for('auth')}}" style="margin-right: 20px; float: right">Sign in</a>
        <form method="GET" action="/search">
            <div class="w3-teal" style="height: 40px">
                <button type="submit" class="btn btn-default" style="margin-right: 20px; float: right">Seacrh</button>
                <input type="text" class="form-control" placeholder="Search" name="search_text" value="" style="margin-right: 5px; float: right">
            </div>
        </form>
    </div>
</div>




<div style="float: left; margin-left: 220px" class="scroll-table" >
    <form action="/" method = "POST">
        <a href="{{ url_for( 'anotherLanguage', lang='en')}}"> en </a>
        <a href="{{ url_for( 'anotherLanguage', lang='he')}}"> he </a>
        <a href="{{ url_for( 'anotherLanguage', lang='fr')}}"> fr </a>
        <a href="{{ url_for( 'anotherLanguage', lang='it')}}"> it </a>
        <a href="{{ url_for( 'anotherLanguage', lang='pl')}}"> pl </a>
        <a href="{{ url_for( 'anotherLanguage', lang='pt')}}"> pt </a>
        <a href="{{ url_for( 'anotherLanguage', lang='ru')}}"> ru </a>
        <a href="{{ url_for( 'anotherLanguage', lang='de')}}"> de </a>
        <a href="{{ url_for( 'anotherLanguage', lang='ja')}}"> ja </a>
        <a href="{{ url_for( 'anotherLanguage', lang='nl')}}"> nl </a>
        <a href="{{ url_for( 'anotherLanguage', lang='es')}}"> es </a>
        <a href="{{ url_for( 'anotherLanguage', lang='hu')}}"> hu </a>
    </form>

    <table>
        <tr>
            {% for header in headings %}
            <th> {{header}} </th>
            {% endfor %}
        </tr>
        {% for value in data %}
        <tr>
            <td>
                <form action="/" method = "POST">
                    {{value.get("a.title")}}
                </form>
            </td>
            <td>
            <a href={{value.get("a.url")}}> {{value.get("a.url")}} </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>



<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>
</body>
</html>